@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background-color: #A548FF;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 100px;
}

.container {
  margin: auto;
  max-width: 600px;
  padding: 60px;
  border: 1px solid hsl(274, 8%, 83%);
  border-radius: 15px;
  text-align: center;
}


h1 {    
  height: 100px;
  line-height: 150px;
  text-align: center;
  margin-top: 0;
  font-size: 25px;
}

p {
  font-size: 20px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  font-size: 16px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fafafa;
  color:rgb(7, 7, 7);
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #4b0082;
}

#resultado {
  margin-top: 20px;
  font-size: 25px;
}




